@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  padding-top: 10px;
}

.card {
  height: 100%;
}

.top {
  text-align: left;
  font-size: 100px;
  padding-left: 5px;
}

.number {
  margin: auto;
  font-size: 100px;
}

.bottom {
  font-size: 100px;
  padding-right: 5px;
  transform: rotate(180deg);
}

button {
  margin-left: 400px;
}

/* .card input {
  width: 150px;
  height: 20px;
} */
